<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/style.css">
</head>
<script>
function toggleMenu() {
  const menu = document.getElementById("top-menu");
  if (menu.style.display === "block") {
    menu.style.display = "none";
  } else {
    menu.style.display = "block";
  }
}
</script>

<body>
  <header>
    <h1>{{ page.title }}</h1>
    <div class="menu-button" onclick="toggleMenu()">☰</div>
    <nav id="top-menu">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/schedule/' | relative_url }}">Schedule</a>
      <a href="{{ '/contact/' | relative_url }}">Contact</a>
    </nav>
  </header>

  <main class="container">
    {{ content }}
  </main>
  <footer class="page-footer">
    <p><strong>Contact Me:</strong>
    <p><strong>Email:</strong> <a href="mailto:mark@spookydungeon.boo">mark@spookydungeon.boo</a>
    <strong>Phone:</strong> <a href="tel:13606447050">(360) 644-7050</a></p>
  </footer>
</body>
</html>
